<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let character of characters">
                  <div class="card">
                    <img [src]="character.image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a [routerLink]="['/character-details', character.id]">
                            <h5 class="card-title">{{character.name}}</h5>
                        </a>
                        <p class="card-text">{{character.gender}}</p>
                        <p class="card-text">{{character.created}}</p>
                    </div>
                  </div>
                </div>
                <div class="card-body" *ngIf="characters.length <= 0">
                    <h4 class="card-title">Sin datos...</h4>
                </div>
            </div>
        </div>
    </div>
</div>