<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Extra</h4>
            <p class="card-text">Acontinuacion tiene una variedad de series parecidas a Rick y Morty.</p>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col" *ngFor="let serie of Fotos">
                                <div class="card bg-dark text-white">
                                    <img src="{{serie.Image}}"  class="card-img" width="90%">
                                    <div class="card-img-overlay">
                                      <h5 class="card-title">{{serie.Nombre}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>