<br><div class="row">
    <div class="col-sm-8">
        <div class="card border-success">
            <div class="card-body">
                <h4 class="card-title">Rick and Mortin</h4>
                <p class="card-text"><br>Rick y Morty (Rick and Morty) es una serie de televisión estadounidense de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim. La serie sigue las desventuras de un científico, Rick, y su fácilmente influenciable nieto, Morty, quienes pasan el tiempo entre la vida doméstica y los viajes espaciales, temporales e intergalácticos. Roiland es el encargado de darle voz a Rick y a Morty, la serie también incluye las voces de Chris Parnell, Spencer Grammer y Sarah Chalke.<br><br> La serie se originó por un cortometraje rudimentario animado por Roiland para el festival de cine Channel 101 llamado Doc and Mharti, una parodia de los principales protagonistas de Back to the Future. Cuando la cadena NBC despidió a Harmon en 2013 por discusiones entre él y los ejecutivos de la serie que había creado, Community, él y Roiland desarrollaron una serie basada en los personajes ya creados por Roiland.</p>
                <div #demoYouTubePlayer class="demo-youtube-player">
                    <section>
                      <youtube-player videoId="z8ZRJtXQ2Fk" [width]="videoWidth" [height]="videoHeight"></youtube-player>
                    </section>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-success">
            <div class="card-body">
                <p class="card-header"><b class="text-black">¿Donde puedo ver la serie?</b></p>
                <b class="card-text text-primary">-HBO MAX</b><br>
                <b class="card-text text-danger">-NETFLIX</b><br>
                <b class="card-text text-black">-AMAZON</b>
            </div>
        </div>
        <div class="card border-success">
            <div class="card-body">
                <p class="card-header"><b class="text-black">Comenta alguna sugerencia</b></p>
                <div class="mb-3"><br>
                    <label for="exampleFormControlTextarea1" class="form-label">Comenta algo!</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Enviar!</button>
            </div>
        </div>
    </div>
</div>
