<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Serie</h3>
            <p class="card-text">La dimensión de Rick y Morty ya se sale del cajón de series animadas y mira de igual a igual, o incluso por encima del hombro, a los grande fenómenos de la televisión actual. 
                Tras dos primeras temporadas sorprendentes en los que la serie producida por Adult Swim conquistó a medio mundo, llegaron la tercera y cuarta entrega con bastantes dudas, con 
                mucho tiempo de espera, con sospechas de que su presupuesto era demasiado alto, etc... Cuando los fans temían un prematuro final de la serie, lo que se anunció fue todo lo contrario, 
                que la ficción que emiten en España HBO (y con algo de retraso, Netflix) está permanentemente renovada y podría llegar a las 9 o 10 temporadas de duración.</p>
        </div>
        <div class="container">
            <div class="card border-warning ">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card border-success">
                            <div class="card-body">
                              <h5 class="card-title"><b>Temporada 1</b></h5>
                              <p class="card-text">Fecha de inicio: 2 Diciembre 2013</p>
                              <p class="card-text">Capítulos: 11</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card border-success">
                            <div class="card-body">
                              <h5 class="card-title"><b>Temporada 2</b></h5>
                              <p class="card-text">Fecha de inicio: 26 de Julio de 2015</p>
                              <p class="card-text">Capítulos: 10</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card border-success">
                            <div class="card-body">
                              <h5 class="card-title"><b>Temporada 3</b></h5>
                              <p class="card-text">Fecha de inicio: 1 de Octubre de 2017</p>
                              <p class="card-text">Capítulos: 10</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card border-success">
                            <div class="card-body">
                              <h5 class="card-title"><b>Temporada 4</b></h5>
                              <p class="card-text">Fecha de inicio: 10 de Noviembre de 2019</p>
                              <p class="card-text">Capítulos: 10</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card border-success">
                              <div class="card-body">
                                <h5 class="card-title"><b>Temporada 5</b></h5>
                                <p class="card-text">Fecha de inicio: 20 de Junio de 2021</p>
                                <p class="card-text">Capítulos: 10</p>
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div><br>
    </div>
</div>